# Admin Service Environment Variables
AUTH_SERVICE_URL=http://localhost:8001
ORDER_SERVICE_URL=http://localhost:8004
PRODUCT_SERVICE_URL=http://localhost:8002
PAYMENT_SERVICE_URL=http://localhost:8006
ANALYTICS_SERVICE_URL=http://localhost:8008

JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
